.box {
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    margin-bottom: 1.5rem;
}

.w-33 {
    width: 33%;
}

.transparent {
    opacity: 0;
}
