{% extends "layout.html" %}

{% load crispy_forms_filters %}

{% block title %}Log in{% endblock %}

{% block heading %}Log in{% endblock %}

{% block content %}

    <div class="box">
        <form class="p-5 w-50 m-auto" method="post">
            {% csrf_token %}

            {{ form|crispy }}

            <input type="submit" class="btn btn-primary" value="Log in"/>

            <a class="btn btn-secondary btn" href="{% url "password_reset" %}" role="button">Reset Password</a>
            <a class="btn btn-secondary btn" href="{% url "user-create" %}" role="button">Register</a>
        </form>
    </div>

{% endblock %}
