{% extends "layout.html" %}

{% load crispy_forms_filters %}

{% block title %}Password Change{% endblock %}

{% block heading %}Password Change{% endblock %}

{% block description %}

    Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you
    typed it in correctly.

{% endblock %}

{% block content %}

    <div class="box">
        <form class="p-5 w-50 m-auto" method="post">
            {% csrf_token %}

            {{ form|crispy }}

            <input type="submit" class="btn btn-primary" value="Change My Password"/>
        </form>
    </div>

{% endblock %}
