{% extends "layout.html" %}

{% load crispy_forms_filters %}

{% block title %}Register{% endblock %}

{% block heading %}Create a New Account{% endblock %}

{% block description %}Want to help out? You can do so by registering yourself as a designated helper!{% endblock %}

{% block content %}

    <div class="box">
        <form class="p-5 w-50 m-auto" method="post">
            {% csrf_token %}

            {{ form|crispy }}

            <p>
                Please describe yourself so people in need can contact you (fields are not required)!
            </p>

            {% for formset in inlines %}
                {{ formset|crispy }}
            {% endfor %}

            <input type="submit" class="btn btn-primary" value="Register"/>
        </form>
    </div>

{% endblock %}
