{% extends "layout.html" %}

{% load django_tables2 %}

{% block title %}{{ object.name }}{% endblock %}

{% block heading %}{{ object.name }}{% endblock %}

{% block description %}{{ object.description }}{% endblock %}

{% block widgets %}

    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}

            <input type="submit" class="btn btn-primary"
                   value="{% if request.user in object.members.all %}Leave{% else %}Join{% endif %}"/>
        </form>
    {% endif %}

{% endblock %}

{% block content %}

    <div class="box">
        <div class="h4 p-3 m-0 bg-light border rounded-top">Student Helpers</div>
        {% render_table table %}
    </div>

{% endblock %}
